@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

.gradient-bg {
  background: radial-gradient(circle at top left, #1d283a, #020617 55%);
}

.card-glass {
  @apply bg-slate-900/60 backdrop-blur-xl border border-slate-700/60 shadow-soft rounded-2xl;
}
